/* header.css */
.header {
    position: absolute;
    width: 1920px;
    height: 65px;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 40px -27px rgba(0,0,0,0.45);
  }

